[Unit]
Description=Hono up.paxa.dev
After=network.target

[Service]
User=nginx
WorkingDirectory=/var/www/up.paxa.dev/apps/api
ExecStart=/home/nginx/.bun/bin/bun /var/www/up.paxa.dev/apps/api/src/index.ts
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target